.idea
*.o
*.d
*.a
install_freddo
install_freddo/*
CMakeLists.txt
cmake-build-debug/
auxiliary
auxiliary/*
benchmarks/bin/*

benchmarks/blackscholes/bin/*
benchmarks/bmmult/bin/*
benchmarks/cholesky/bin/*
benchmarks/fibonacci/bin/*
benchmarks/lu/bin/*
benchmarks/powerset/bin/*
benchmarks/qr/bin/*
benchmarks/swaptions/bin/*

